{{- if eq .Values.mode "sentinel" }}
{{- $fullname := include "percona-valkey.fullname" . }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullname }}-sentinel
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "percona-valkey.labels" . | nindent 4 }}
    app.kubernetes.io/component: sentinel
data:
  sentinel.conf: |
    sentinel monitor {{ .Values.sentinel.masterSet }} {{ $fullname }}-0.{{ $fullname }}-headless.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }} {{ .Values.service.port }} {{ .Values.sentinel.quorum }}
    sentinel resolve-hostnames yes
    sentinel announce-hostnames yes
    sentinel down-after-milliseconds {{ .Values.sentinel.masterSet }} {{ .Values.sentinel.downAfterMilliseconds }}
    sentinel failover-timeout {{ .Values.sentinel.masterSet }} {{ .Values.sentinel.failoverTimeout }}
    sentinel parallel-syncs {{ .Values.sentinel.masterSet }} {{ .Values.sentinel.parallelSyncs }}
    {{- if .Values.tls.enabled }}
    tls-port {{ .Values.sentinel.port }}
    port 0
    tls-cert-file {{ .Values.tls.certMountPath }}/{{ .Values.tls.certKey }}
    tls-key-file {{ .Values.tls.certMountPath }}/{{ .Values.tls.keyKey }}
    tls-ca-cert-file {{ .Values.tls.certMountPath }}/{{ .Values.tls.caKey }}
    tls-auth-clients {{ .Values.tls.authClients }}
    tls-replication yes
    {{- else }}
    port {{ .Values.sentinel.port }}
    {{- end }}
{{- end }}
