apiVersion: v1
kind: Service
metadata:
  name: {{ include "percona-valkey.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "percona-valkey.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: valkey
      port: {{ .Values.service.port }}
      targetPort: valkey
      protocol: TCP
  selector:
    {{- include "percona-valkey.selectorLabels" . | nindent 4 }}
